body {
    background-color: #cacaca79; /* استبدل باللون الذي تريده */
    font-family: 'Cairo', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  body {
    font-family: "Barlow Semi Condensed", sans-serif;
  }